<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<header class="app-header">
  <h1 id="title">
    <span> Spotify Angular Assement </span>
  </h1>
  <h2><span>by</span> don Pablo</h2>
  <h3>
    <span>Artist Search:</span>
  </h3>
  <app-search></app-search>
</header>
<section class="app-container">
  <div class="pure-g">
    <section class="pure-u-md-2-3">
      <router-outlet></router-outlet>
    </section>
    <aside class="pure-u-md-1-3"></aside>
  </div>
</section>
<footer>
  <p>
    Spotify Angular Test, In this test, you will write a music search app using
    the Spotify api, ngxs state management library and Angular 9+. All api calls
    must be initiated through the store. All data to be stored within the store.
    Navigation must be done via the store. Data to be displayed on the UI, must
    be retrieved from the store using Selectors. The Artists page, Albums
    Details Page, must have buttons to go back to the previous page. Api calls
    must be kept too as few as possible, using the store as a cache. The app
    must be responsive. The general styling of the app is left up to the
    developer and should style it as best as possible.
  </p>
</footer>
