@import "../variables/colors";
@import "../variables/sizes";

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.85);
  color: $spotify-angular-test-timberwolf;
  font-size: $base-font-size / 1.5;
}
