$spotify-angular-test-green-pantone: #1DB954;
$spotify-angular-test-timberwolf: #D3D0CB;
$spotify-angular-test-tufts-blue: #3993DD;
$spotify-angular-test-black-coffee: #291F1E;
$spotify-angular-test-tart-orange: #FB4D3D;

$spotify-black: #191414;
$spotify-white: #FFFFFF;
$spotify-green: #1DB954;